html {
  --main-color: #cbcfdd;
  --main-text-color: grey;
}

body {
  color: var(--main-text-color);
}

ul {
  margin: auto;
}

menu {
  padding: 0;
}

.buttons {
  padding-top: 20px;
}

.menu-container li {
  float:left;
  position:relative;
  list-style-type: none;
  border-radius: 5px;
  border-bottom: 1px solid var(--main-color);
  cursor: pointer;
  user-select: none;
}

.menu-container li:nth-child(1) {
  background-color: var(--main-color);
}

.content-images {
  display: inline-flex;
}

.content-images img {
  height: 200px;
  margin: 5px;
}
