html {
  --main-color: #cbcfdd;
  --main-text-color: grey;
}

body {
  color: var(--main-text-color);
}

.buttons {
  padding-top: 20px;
}

ul {
  margin: auto;
}

.buttons {
  float:right;
  position:relative;
  left:-50%;
  text-align:left;
}

.menu-container {
  list-style:none;
  position:relative;
  left:50%;
}

.menu-container li {
  float:left;
  position:relative;
}

.menu-container li {
  list-style-type: none;
  display: inline-flex;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid var(--main-color);
  cursor: pointer;
  user-select: none;
}

.menu-container li:nth-child(1) {
  background-color: var(--main-color);
}

.content-images {
  display: inline-flex;
}

.content-images img {
  height: 200px;
  margin: 5px;
}
