
body {
  color: #6D7189;
}

li {
  list-style-type: none;
  display: inline-flex;
  padding: 10px;
  border-radius: 5px;
}

li:hover {
  background-color: #A7A9B8;
}

.content-images {
  display: inline-flex;
}

.content-images img {
  height: 200px;
  margin: 5px;
}
